
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #fafafa;
}

#wrapper {
    overflow-y: scroll;
}

#content {
    width: 700px;
    margin: 130px auto 200px auto;

    font-family: "IBM Plex Mono", Monaco, monospace;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
}

#content-img {
    width: 400px;
    height: auto;
    margin: 10px auto;
    display: block;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
}

p {
    margin-bottom: 15px;
}

p a {
    font-weight: 400;
    color: #176daa;
    text-decoration: none;
}

p a:hover {
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    #content {
        width: 80vw;
        margin: 80px auto 100px auto;
    }

    #content-img {
        width: 60vw;
    }
}
